APScheduler==3.6.3
cachetools==4.2.2
certifi==2021.10.8
python-telegram-bot==13.7
pytz==2021.3
six==1.16.0
telegram==0.0.1
tornado==6.1
tzdata==2021.2.post0
tzlocal==3.0
Telethon==1.23.0
pytest==6.2.5